* {
    box-sizing: border-box;
}

/* Header */

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 980px;
    margin: 0 auto;
}

.img-logo {
    width: 133px;
    height: 22px;
}

.main-header {
    height: 66px;
    background-color: #ff7f00;
}

.nav li {
    padding-right: 10px;
    height: 66px;
}



/* footer */

.main-footer{
    height: 207px;
    background-color: #ff7f00;
    display: flex;
    flex-direction: column;
}

.rights{
    color: #ffffff;
    font-family: "Montserrat - Thin";
    font-size: 19px;
    font-weight: 400;
    margin-top: 22px;
}





/* gallery-grid */

.main-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 30px;
}

.main-gallery img {
    height: 350px;
    width: 350px;
    cursor: pointer;
}

/* meme-editor */

.main-editor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#canvas {
    border: 1px solid #000;
}

.btn {
    width: 60px;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    height: 60px;
    flex-direction: column;
    display: inline-flex;
    /* padding: 10px; */
    border-radius: 12px;
    background-color: #ffffff
}

#color-box{
    display: none;
}
#stroke-box{
    display: none;
}

/* helpers */

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.grey-background {
    background-color: #e3e3e3;
}