
/* Header */
ul{
    list-style: none;
}

.img-logo{
    width: 133px;
height: 22px;
}


.header-container{
    height: 66px;
    background-color: #ff7f00;
}

.nav li{
    padding-right: 10px;
}



/* gallery-grid */
.main-gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    margin-top: 30px;
}
 
.main-gallery img{
    height: 350px;
    width: 350px;
}





/* helpers */
.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}

.space-between{
    justify-content: space-between;
}
